.utama {
    background-color:#cccccc;
    text-align: center;
}
.number {
    margin-bottom: 8%;
}
.biodata {
    background-color: #affaf6
}
.copyright {
    background-color: aqua; 
    text-align: center;
}